<section class="section">
	<div class="columns">
		<div class="column">
			<div class="card">
				<div class="card-header">
					<div class="card-header-title" style="text-align: center;">
						<a routerLink="/random-forest" routerLinkActive="active" style="text-decoration: none; color: darkslategray;">Support Vector Machine (SVM)</a>
					</div>
				</div>
				<div class="card-content">
					<div class="columns">
						<div class="column is-half">
							Upload a dataset, and I will run an SVM on it! If you're unsure what an SVM is, there's is a handy gif to the right to clue you in!
							<br><br>
							The data should be of the format ___ will a max. file size of __MB.
						</div>
						<div class="column">
							<figure class="image">
								<img src="https://jeremykun.files.wordpress.com/2017/05/svm_lots_of_choices.gif?w=587&zoom=2" alt="SVM gif"/>
							</figure>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="card-footer-item">
						<a href="#" class="button is-success">
							Upload Dataset
							<i class="fas fa-upload fa-fw" style="margin-left: 0.5em"></i>
						</a>
					</div>
					<div class="card-footer-item">
						<a href="#" class="button is-info">
							<i class="fas fa-chart-area"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
