<div class="columns">
	<div class="column">
		<div class="card">
			<div class="card-content">
			Random Forest Regression</div>
			<div class="card-footer">
				<div class="card-footer-item">
					<a href="#" class="button is-success">
						Upload Dataset
						<i class="fas fa-upload"></i>
					</a>
				</div>
				<div class="card-footer-item">
					<a href="#" class="button is-info">
						<i class="fas fa-chart-area"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<div class="card-content">
			Random Forest Regression</div>
			<div class="card-footer">
				<div class="card-footer-item">
					<a href="#" class="button is-success">
						Upload Dataset    
						<i class="fas fa-upload"></i>
					</a>
				</div>
				<div class="card-footer-item">
					<a href="#" class="button is-info">
						<i class="fas fa-chart-area"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<div class="card-content">
			Random Forest Regression</div>
			<div class="card-footer">
				<div class="card-footer-item">
					<a href="#" class="button is-success">
						Upload Dataset
						<i class="fas fa-upload"></i>
					</a>
				</div>
				<div class="card-footer-item">
					<a href="#" class="button is-info">
						<i class="fas fa-chart-area"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
