<section class="section">
	<div class="columns">
		<div class="column">
			<div class="card">
				<div class="card-content title" style="text-align: center;">
					<a routerLink="/random-forest" routerLinkActive="active" style="text-decoration: none; color: darkslategray;">Random Forest Regression</a>
				</div>
				<div class="card-footer">
					<div class="card-footer-item">
						<a href="#" class="button is-success">
							Upload Dataset
							<i class="fas fa-upload fa-fw" style="margin-left: 0.5em"></i>
						</a>
					</div>
					<div class="card-footer-item">
						<a href="#" class="button is-info">
							<i class="fas fa-chart-area"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<div class="card-content title" style="text-align: center;">
					<a routerLink="/svm" routerLinkActive="active" style="text-decoration: none; color: darkslategray;">Support Vector Machine</a>
				</div>
				<div class="card-footer">
					<div class="card-footer-item">
						<a href="#" class="button is-success">
							Upload Dataset
							<i class="fas fa-upload fa-fw" style="margin-left: 0.5em"></i>
						</a>
					</div>
					<div class="card-footer-item">
						<a href="#" class="button is-info">
							<i class="fas fa-chart-area"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<div class="card-content title" style="text-align: center;">
					<a routerLink="/bagging" routerLinkActive="active" style="text-decoration: none; color: darkslategray;">Bagging</a>
				</div>
				<div class="card-footer">
					<div class="card-footer-item">
						<a href="#" class="button is-success">
							Upload Dataset
							<i class="fas fa-upload fa-fw" style="margin-left: 0.5em"></i>
						</a>
					</div>
					<div class="card-footer-item">
						<a href="#" class="button is-info">
							<i class="fas fa-chart-area"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
