<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <nav class="navbar is-primary" role="navigation" aria-label="navbar">
        <div class="navbar-brand">
          <a routerLink="/" routerLinkActive="active"><i class="fas fa-cog fa-fw"></i></a>
        </div>
      </nav>
      <h1 class="title is-1">Welcome</h1>
      <h1 class="subtitle">What do you want to know?</h1>
    </div>
  </div>
</section>
<!-- </div> -->

<router-outlet></router-outlet>

