<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-one-third is-narrow">
				<div class="card">
					<div class="card-header">
						<div class="card-header-title is-centered">
							Hi!
						</div>
					</div>
					<div class="card-image">
						<figure class="image is-4by3">
							<img src="https://i.gyazo.com/5bb6ae7c38c450f7e142a1cd421cbc8b.png" alt="Headshot"/>
						</figure>
					</div>
					<div class="card-content">
						<p>My name's Lucas, and if you've stumbled across this site, I figure I should let you know that this is simply a project for me to learn more about Angular and Node/Express (now you know what it's written in...). Don't count on this site being up reliably, but I hope you find it worthwhile to have visited!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tile is-ancestor">
			<div class="tile is-parent is-vertical is-5">
				<div class="tile is-child box">
					<p class="title is-warning">One</p>
				</div>
				<div class="tile is-child box">
					<p class="title is-info">Two</p>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child box is-primary">
					<p class="title">Three</p>
				</div>
			</div>
		</div>
	</div>
</section>	